<div class="form">
  <img
    src="https://i.imgur.com/KzA5MhT.png"
    style="height: 200px; margin-bottom: 100px"
  />

  <h1 style="font-family: gilgan; margin-bottom: 50px">
    Register your MuchBunch account.
  </h1>
  <form
    nz-form
    [nzAutoTips]="autoTips"
    [formGroup]="formGroup"
    (ngSubmit)="submitForm()"
    style="font-family: gilgan"
  >
    <nz-form-item>
      <nz-form-label nzRequired>Username</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="username" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>E-mail</nz-form-label>
      <nz-form-control>
        <input
          nz-input
          formControlName="email"
          placeholder="email"
          type="email"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Password</nz-form-label>
      <nz-form-control
        [nzSpan]="12"
        nzDisableAutoTips
        nzErrorTip="Please input your password!"
      >
        <input
          nz-input
          type="password"
          formControlName="password"
          (ngModelChange)="validateConfirmPassword()"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>Confirm Password</nz-form-label>
      <nz-form-control
        [nzSpan]="12"
        nzDisableAutoTips
        [nzErrorTip]="passwordErrorTpl"
      >
        <input
          nz-input
          type="password"
          formControlName="confirm"
          placeholder="confirm your password"
        />
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')"
            >Please confirm your password!</ng-container
          >
          <ng-container *ngIf="control.hasError('confirm')"
            >Password is inconsistent!</ng-container
          >
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
