<div class="form">
  <img
    src="https://i.imgur.com/KzA5MhT.png"
    style="height: 200px; margin-bottom: 100px"
  />

  <h1 style="font-family: gilgan; margin-bottom: 50px">Let's login.</h1>
  <form
    nz-form
    [formGroup]="formGroup"
    class="login-form"
    (ngSubmit)="submitForm()"
    style="font-family: gilgan"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="email"
            style="width: 400px"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button
      nz-button
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
      [nzLoading]="btnLoading"
    >
      <span style="font-size: 18px">Log in</span>
    </button>
    <span style="font-size: 18px"> Or </span>

    <a routerLink="/register" style="font-size: 18px">register now!</a>
  </form>
</div>
