<br /><br />
<h1 style="margin-left: 50px">Control your inventory. In one step.</h1>

<br /><br />

<h2 style="margin-left: 70px">Manage MuchBunches.</h2>
<div style="margin-left: 70px">
  <button
    style="height: 250px; width: 250px; margin-right: 40px"
    nz-button
    nzSize="large"
    nzType="dashed"
  >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Add new MuchBunch.
  </button>

  <button
    style="height: 250px; width: 250px; margin-right: 40px"
    nz-button
    nzSize="large"
    nzType="dashed"
  >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Add MuchBunch theme.
  </button>

  <button
    style="height: 250px; width: 250px; margin-right: 40px"
    nz-button
    nzSize="large"
    nzType="dashed"
  >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Edit MuchBunch.
  </button>
</div>
<br />
<h2 style="margin-left: 70px">Manage Your Products.</h2>
<div style="margin-left: 70px">
  <button
    style="height: 250px; width: 250px; margin-right: 40px"
    nz-button
    nzSize="large"
    nzType="dashed"
    (click)="addNewProduct()"
  >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Add new Product.
  </button>

  <button
    style="height: 250px; width: 250px; margin-right: 40px"
    nz-button
    nzSize="large"
    nzType="dashed"
  >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Add Product type.
  </button>

  <button
    style="height: 250px; width: 250px; margin-right: 40px"
    nz-button
    nzSize="large"
    nzType="dashed"
  >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Add Product sub-type.
  </button>

  <button
    style="height: 250px; width: 250px; margin-right: 40px"
    nz-button
    nzSize="large"
    nzType="dashed"
  >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Edit Product.
  </button>
</div>
