<div style="background-color: black; height: 330px; display: flex">
  <div>
    <img
      src="https://i.imgur.com/3lduV5G.png"
      style="height: 100px; margin-left: 300px; margin-top: 50px"
    />
    <div
      style="
        font-family: gilgan;
        color: white;
        margin-left: 320px;
        margin-top: 10px;
      "
    >
      MuchBunch d.o.o.
    </div>
    <div
      style="
        font-family: gilgan;
        color: white;
        margin-left: 320px;
        margin-top: 20px;
      "
    >
      Wall Street 1, NY
    </div>
  </div>

  <div style="margin-top: 50px">
    <div
      style="
        font-family: gilgan;
        color: white;
        margin-left: 320px;
        margin-top: 20px;
      "
    >
      UNITED STATES
    </div>

    <div
      style="
        font-family: gilgan;
        color: white;
        margin-left: 320px;
        margin-top: 50px;
      "
    >
      usa-team@muchbunch.com
    </div>

    <div
      style="
        font-family: gilgan;
        color: white;
        margin-left: 320px;
        margin-top: 20px;
      "
    >
      +1 (555) 987-6543
    </div>

    <div
      style="
        font-family: gilgan;
        color: white;
        margin-left: 320px;
        margin-top: 20px;
      "
    >
      456 Garden Way, Suite 101, Natureville, CA 87654, USA
    </div>
  </div>

  <div style="margin-top: 50px">
    <div
      style="
        font-family: gilgan;
        color: white;
        margin-left: 320px;
        margin-top: 20px;
      "
    >
      UNITED KINGDOM
    </div>

    <div
      style="
        font-family: gilgan;
        color: white;
        margin-left: 320px;
        margin-top: 50px;
      "
    >
      uk-team@muchbunch.com
    </div>

    <div
      style="
        font-family: gilgan;
        color: white;
        margin-left: 320px;
        margin-top: 20px;
      "
    >
      +44 (0)20 1234 5678
    </div>

    <div
      style="
        font-family: gilgan;
        color: white;
        margin-left: 320px;
        margin-top: 20px;
      "
    >
      10 Dockside Road, Liverpool L30 2TH, United Kingdom
    </div>
  </div>
</div>
