.ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border-color: white;
  box-shadow: 0 0 0 2px white;
}

::ng-deep .ant-select-dropdown {
  background-color: #c4b7e5;
  color: white;
  font-family: Gilgan;
}

::ng-deep .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #e7dbff;
  color: black;
  font-family: Gilgan;
}

::ng-deep .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
}
::ng-deep .ant-card-meta-title {
  white-space: normal !important;
}

::ng-deep .ant-card {
  background-color: transparent;
}

::ng-deep .ant-card-actions {
  background-color: #c4b7e5;
  border-top: 1px solid black;
}
