<br /><br />
<h1 style="margin-left: 50px; font-family: gilgan; font-size: 44px">
  Control your Codebooks.
</h1>
<br /><br />

<div style="margin-left: 70px; font-family: gilgan">
  <nz-tabset nzTabPosition="left">
    <nz-tab
      nzTitle="Product Types"
      style="font-size: 36px; font-family: gilgan"
    >
      <app-upsert-types></app-upsert-types>
    </nz-tab>

    <nz-tab nzTitle="Product Subtypes">
      <app-upsert-subtypes></app-upsert-subtypes>
    </nz-tab>

    <nz-tab nzTitle="MuchBunch Themes">
      <app-upsert-themes></app-upsert-themes>
    </nz-tab>

    <nz-tab nzTitle="User Roles">
      <app-upsert-roles></app-upsert-roles>
    </nz-tab>
  </nz-tabset>
</div>
