<form nz-form [formGroup]="formGroup">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Product Name</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Required field.">
      <input nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Image URL</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Required field.">
      <input
        nz-input
        formControlName="imageUrl"
        placeholder="www.imgur.com/imageURL"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Type</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Required field.">
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select a product type"
        formControlName="type"
        [(ngModel)]="selectedType"
        (ngModelChange)="onSelectedType(selectedType)"
      >
        <nz-option
          *ngFor="let type of types"
          [nzLabel]="type.name"
          [nzValue]="type"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Sub-type</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Required field.">
      <nz-select
        nzShowSearch
        [nzShowArrow]="true"
        nzAllowClear
        nzMode="multiple"
        nzPlaceHolder="Select a product sub-type"
        formControlName="subtypes"
      >
        <nz-option
          *ngFor="let subtype of subtypes"
          [nzLabel]="subtype.name"
          [nzValue]="subtype"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <div style="display: flex; margin-left: 170px">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Price</nz-form-label>
      <nz-form-control [nzSpan]="10" nzErrorTip="Must be a positive number.">
        <div style="display: flex">
          <input nz-input formControlName="price" type="number" />
          <span
            nz-icon
            nzType="euro"
            nzTheme="outline"
            style="font-size: 24px; margin-top: 4px; margin-left: 5px"
          ></span>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Quantity</nz-form-label>
      <nz-form-control [nzSpan]="10" nzErrorTip="Must be a positive number.">
        <input nz-input formControlName="quantity" type="number" />
      </nz-form-control>
    </nz-form-item>
  </div>
</form>

<nz-divider></nz-divider>

<div nz-modal-footer style="float: right; height: 300px">
  <button nz-button nzType="primary" (click)="getFormValues()">Submit</button>
</div>
